<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/main">
<head>
<div layout:fragment="styles"></div>
<title th:text="#{criarregra}"></title>
</head>
<body>
	
	<div layout:fragment="content">
	
		<text th:if="${message}">
					<div th:text="${message}" class="message" role="status"></div>
		</text>
	
		<form action="#" th:action="@{/regra}" th:object="${regra}" method="post">
		
			<fieldset class="form">
			
					<legend><text for="criarregra" th:text="#{criarregra}"></text></legend>
					
					<div class="fieldcontain">
						<label for="descricao" th:text="#{descricaoregra}"></label>
						<span class="required-indicator">*</span>
						<input class="upper" th:type="text" th:name="descricao" th:placeholder="#{descricaoregra}" th:required="true" th:autofocus="true" /> 
					</div>
					
					<div class="fieldcontain">
						<button class="btn btn-lg btn-primary btn-block submit" th:type="submit"><text for="enviar" th:text="#{salvar}"></text></button>
					</div>
					
			</fieldset>	
			
		</form>
			
	
	</div>	
	
	<div layout:fragment="scripts"></div>
	
</body>
</html>