<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/main">
<head>
<div layout:fragment="styles"></div>
<title th:text="#{editarregra}"></title>
</head>
<body>
	
	<div layout:fragment="content">
		
		
		<form action="#" th:action="@{/regra/regra}" th:object="${regra}" method="post">
					
			<input th:type="hidden" th:name="id" th:field="*{id}"/>
			
			<fieldset class="form">
			
					<legend><text for="editarregra" th:text="#{editarregra}"></text></legend>
					
					<a th:href="@{/regra/delete/{id}(id= ${regra.id})}" th:class="delete"  th:title="#{delete}" th:onclick="'return confirm(\''+#{confirmaexclusao}+'\');'"><img th:src="@{/images/delete.png}"/></a>
				
					<div class="fieldcontain">
						<label for="descricao" th:text="#{descricaoregra}"></label>
						<span class="required-indicator">*</span>
						<input class="upper" th:type="text" th:name="descricao" th:field="*{descricao}" th:placeholder="#{descricaoregra}" th:required="true" th:autofocus="true"  /> 
						<span class="field-validator" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span>
					</div>
					
					<div class="fieldcontain">
						<button class="btn btn-lg btn-primary btn-block submit" th:type="submit"><text for="enviar" th:text="#{salvar}"></text></button>
					</div>
					
						
			</fieldset>	
					
		</form>
	
	</div>	
	
	<div layout:fragment="scripts"></div>
	
</body>
</html>