<nav th:fragment="navbarcontent"  ng-app="receitas">

	<script th:src="@{/libs/angular-bootstrap/ui-bootstrap-tpls-0.14.3.min.js}">...</script> 
	
	<div class="navbar">
	
			<div class="topNav">
			
				<div class="right">
	        		<ul class="icons">	        			
       					  	<sec sec:authorize="isAuthenticated()">
	       							<li><a class="usuario" th:href="@{/showusuario/{id}(id=${#authentication.principal.usuario.id})}">Luiz Marques</a></li>
	       					</sec>
							<li><a class="email" href="mailto:liunit@gmail.com" th:title="#{enviaremail}"><text th:text="#{contato}"></text></a></li>							
							<li><a class="int" th:href="@{/?lang=pt_BR}" th:title="#{portugues}"><img th:src="@{/images/pt_BR.png}"/></a></li>
							<li><a class="int" th:href="@{/?lang=en}" th:title="#{ingles}"><img th:src="@{/images/en.png}"/></a></li>
							<li><a class="int" th:href="@{/?lang=es}" th:title="#{espanhol}"><img th:src="@{/images/es.png}"/></a></li>
					</ul>
				</div>
	            	
	        </div><div class="clearer"></div>
	        
	        <div class="menu">
	       
			       	<ul>
			       	
			       		<li class="img">
		       				<img th:if="${#locale.toString()=='pt_BR'}" th:src="@{/images/logo_pt_br.png}"/>
							<img th:if="${#locale.toString()=='en'}" th:src="@{/images/logo_en.png}"/>
							<img th:if="${#locale.toString()=='es'}" th:src="@{/images/logo_es.png}"/>
			       		</li>
					
						<sec sec:authorize="isAuthenticated()">
							
							
				   			<sec sec:authorize="! hasAuthority('ADMIN')">
				   				
				   				<li th:class="${#httpServletRequest.getServletPath().equals('/verconfiguracao') ||
				 							#httpServletRequest.getServletPath().equals('/configuracao') ||
				 							#httpServletRequest.getServletPath().contains('/showconfiguracao') ? 'active' : ''}">
				 					<a th:href="@{/verconfiguracao}"><text for="configuracao" th:text="#{configuracao}"></text></a>
				 				</li>
					   			<li th:class="${#httpServletRequest.getServletPath() == '/vertiporeceitas' ||
					   			                #httpServletRequest.getServletPath() == '/tiporeceita' ||
					   			                #httpServletRequest.getServletPath().contains('/showtiporeceita/') ? 'active' : ''}">
					   				<a th:href="@{/vertiporeceitas}"><text for="tiporeceitas" th:text="#{tiporeceitas}"></text></a>
					   			</li>
					   		  	<li th:class="${#httpServletRequest.getServletPath().equals('/verreceitas') || 
					   		  					#httpServletRequest.getServletPath().equals('/receita') ||
					   		  					#httpServletRequest.getServletPath().contains('/verreceitaportipo') ||
					   		  					#httpServletRequest.getServletPath().contains('/viewreceita') ||
					   		  					#httpServletRequest.getServletPath().contains('/showreceita') ? 'active' : ''}">
					   		  		<a th:href="@{/verreceitas}"><text for="receita" th:text="#{receita}"></text></a>
					   		  	</li>
					 			<li th:class="${#httpServletRequest.getServletPath().contains('/showusuario') ||
					 			                #httpServletRequest.getServletPath().equals('/usuario') ? 'active' : ''}">
					 				<a th:href="@{/showusuario/{id}(id=${#authentication.principal.usuario.id})}"><text for="usuario" th:text="#{usuario}"></text></a>
					 			</li>
					 		</sec>
				 			
				 			
				   		 	<sec sec:authorize="hasAuthority('ADMIN')">
				   		 		<li th:class="${#httpServletRequest.getServletPath().contains('verregras') ? 'active' : ''}">
				   		 			<a th:href="@{/verregras}"><text for="regra" th:text="#{regra}"></text></a>
				   		 		</li>
				   		 		<li th:class="${#httpServletRequest.getServletPath().contains('verusuarioregras') ? 'active' : ''}">
				   		 			<a th:href="@{/verusuarioregras}"><text for="usuarioregra" th:text="#{usuarioregra}"></text></a>
				   		 		</li>	
				   		 		<li th:class="${#httpServletRequest.getServletPath().contains('verusuarios') ? 'active' : ''}">
				   		 			<a th:href="@{/verusuarios}"><text for="usuario" th:text="#{usuarios}"></text></a>
				   		 		</li>			   		 	
				   		 	</sec>
				   		 	
				   		 	<li class="logout"><a th:href="@{/logout}"><text for="logout" th:text="#{logout}"></text></a></li>
				   		 	
				 		</sec>
					 	
					 	<sec sec:authorize="isAnonymous()">
					 		<li th:class="${#httpServletRequest.getServletPath().contains('/showusuario') ||
					 		                #httpServletRequest.getServletPath().equals('/usuario') ? 'active' : ''}">
					 			<a th:href="@{/usuario}"><text for="criarusuario" th:text="#{criarusuario}"></text></a>
					 		</li>
					 		<li class="login">
					 			<a th:href="@{/login}"><text for="login" th:text="#{login}"></text></a>
					 		</li>
					 	</sec>
					
					</ul>
					
			</div><div class="clearer"></div>	
			
			<div class="background">
			
				<ul class="bxslider">
				  <li><img th:src="@{/images/slideshow/1.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/2.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/3.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/4.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/5.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/6.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/7.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/8.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/9.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/10.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/11.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/12.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/13.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/14.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/15.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/16.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/17.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/18.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/19.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/20.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/21.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/22.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/23.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/24.jpg}"/></li>
				</ul>
				
			</div>			
					
	</div>
	
</nav>
