<nav th:fragment="navbarcontent"  ng-app="receitas">

	<script th:src="@{/libs/angular-bootstrap/ui-bootstrap-tpls-0.14.3.min.js}">...</script> 
	
	<div class="navbar">
	
			<div class="topNav">
			
				<div class="right">
	        		<ul class="icons">	        			
       					  	<sec sec:authorize="isAuthenticated()">
	       							<li><a class="usuario" th:href="@{/usuario/show/{id}(id=${#authentication.principal.usuario.id})}">
										<text sec:authentication="principal.nome"></text>	
									</a></li>
	       					</sec>
							<li><a class="email" href="mailto:liunit@gmail.com" th:title="#{enviaremail}"><text th:text="#{contato}"></text></a></li>							
							<li><a class="int" th:href="@{/?lang=pt_BR}" th:title="#{portugues}"><img th:src="@{/images/pt_BR.png}"/></a></li>
							<li><a class="int" th:href="@{/?lang=en}" th:title="#{ingles}"><img th:src="@{/images/en.png}"/></a></li>
							<li><a class="int" th:href="@{/?lang=es}" th:title="#{espanhol}"><img th:src="@{/images/es.png}"/></a></li>
					</ul>
				</div>
	            	
	        </div><div class="clearer"></div>
	        
	        <div class="menu">
	       
			       	<ul>
			       	
			       		<li class="img">
		       				<img th:if="${#locale.toString()=='pt_BR'}" th:src="@{/images/logo_pt_br.png}"/>
							<img th:if="${#locale.toString()=='en'}" th:src="@{/images/logo_en.png}"/>
							<img th:if="${#locale.toString()=='es'}" th:src="@{/images/logo_es.png}"/>
			       		</li>
					
						<sec sec:authorize="isAuthenticated()">
							
							
				   			<sec sec:authorize="! hasAuthority('ADMIN')">
				   				
				   				<li th:class="${#httpServletRequest.getServletPath().equals('/configuracao/view') ||
				 							#httpServletRequest.getServletPath().equals('/configuracao/configuracao') ||
				 							#httpServletRequest.getServletPath().contains('/configuracao/show') ? 'active' : ''}">
				 					<a th:href="@{/configuracao/view}"><text for="configuracao" th:text="#{configuracao}"></text></a>
				 				</li>
					   			<li th:class="${#httpServletRequest.getServletPath() == '/tiporeceita/view' ||
					   			                #httpServletRequest.getServletPath() == '/tiporeceita/tiporeceita' ||
					   			                #httpServletRequest.getServletPath().contains('/tiporeceita/show/') ? 'active' : ''}">
					   				<a th:href="@{/tiporeceita/view}"><text for="tiporeceitas" th:text="#{tiporeceitas}"></text></a>
					   			</li>
					   		  	<li th:class="${#httpServletRequest.getServletPath().equals('/receita/view') || 
					   		  					#httpServletRequest.getServletPath().equals('/receita/receita') ||
					   		  					#httpServletRequest.getServletPath().contains('/receita/viewportipo') ||
					   		  					#httpServletRequest.getServletPath().contains('/receita/view') ||
					   		  					#httpServletRequest.getServletPath().contains('/receita/show') ? 'active' : ''}">
					   		  		<a th:href="@{/receita/view}"><text for="receita" th:text="#{receita}"></text></a>
					   		  	</li>
					 			<li th:class="${#httpServletRequest.getServletPath().contains('/usuario/show') ||
					 			                #httpServletRequest.getServletPath().equals('/usuario/usuario') ? 'active' : ''}">
					 				<a th:href="@{/usuario/show/{id}(id=${#authentication.principal.usuario.id})}"><text for="usuario" th:text="#{usuario}"></text></a>
					 			</li>
					 		</sec>
				 			
				 			
				   		 	<sec sec:authorize="hasAuthority('ADMIN')">
				   		 		<li th:class="${#httpServletRequest.getServletPath().contains('/regra/view') ? 'active' : ''}">
				   		 			<a th:href="@{/regra/view}"><text for="regra" th:text="#{regra}"></text></a>
				   		 		</li>
				   		 		<li th:class="${#httpServletRequest.getServletPath().contains('/usuarioregra/view') ? 'active' : ''}">
				   		 			<a th:href="@{/usuarioregra/view}"><text for="usuarioregra" th:text="#{usuarioregra}"></text></a>
				   		 		</li>	
				   		 		<li th:class="${#httpServletRequest.getServletPath().contains('/usuario/view') ? 'active' : ''}">
				   		 			<a th:href="@{/usuario/view}"><text for="usuario" th:text="#{usuarios}"></text></a>
				   		 		</li>			   		 	
				   		 	</sec>
				   		 	
				   		 	<li class="logout"><a th:href="@{/usuario/logout}"><text for="logout" th:text="#{logout}"></text></a></li>
				   		 	
				 		</sec>
					 	
					 	<sec sec:authorize="isAnonymous()">
					 		<li th:class="${#httpServletRequest.getServletPath().contains('/usuario/show') ||
					 		                #httpServletRequest.getServletPath().equals('/usuario/usuario') ? 'active' : ''}">
					 			<a th:href="@{/usuario/usuario}"><text for="criarusuario" th:text="#{criarusuario}"></text></a>
					 		</li>
					 		<li class="login">
					 			<a th:href="@{/usuario/login}"><text for="login" th:text="#{login}"></text></a>
					 		</li>
					 	</sec>
					
					</ul>
					
			</div><div class="clearer"></div>	
			
			<div class="background">
			
				<ul class="comida">
				  <li><img th:src="@{/images/slideshow/1.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/2.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/3.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/4.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/5.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/6.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/7.jpg}"/></li>
				  <li><img th:src="@{/images/slideshow/8.jpg}"/></li>
				 
				</ul>
				
			</div>	
			
			<sec sec:authorize="isAuthenticated()">
				<div class="buscardiv">
					<form action="#" th:action="@{/buscareceita}" object="filtro" method="POST">
						<input class="upper mb busca" th:placeholder="#{buscarreceita}" th:type="text" th:name="filtro" />
						<button class="find" th:type="submit"><text for="enviar" th:text="#{buscar}"></text></button>
					</form>
				</div><div class="clearer"></div>
			</sec>		
	</div>
	
</nav>
