<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/main">
<head>
<div layout:fragment="styles"></div>
<title th:text="#{criarconfiguracao}"></title>
</head>
<body>
	
	<div layout:fragment="content">
	
		<text th:if="${message}">
			<div th:text="${message}" class="message" role="status"></div>
		</text>
			
		<form action="#" th:action="@{/configuracao}" th:object="${configuracao}" method="post">
		
			<fieldset class="form">
			
					<legend><text for="criarconfiguracao" th:text="#{criarconfiguracao}"></text></legend>
					
					<div class="fieldcontain">
						<label for="itensporpagina" th:text="#{itensporpagina}"></label>
						<input th:type="text" th:name="itensporpagina" th:size="5" th:autofocus="true" /> 
					</div>
					
					<div class="fieldcontain">
						<label for="alturaimgthumbs" th:text="#{alturaimgthumbs}"></label>
						<input th:type="text" th:name="alturaimgthumbs"/> 
					</div>
					
					<div class="fieldcontain">
						<label for="itensporpagina" th:text="#{larguraimgthumbs}"></label>
						<input th:type="text" th:name="larguraimgthumbs"/> 
					</div>
					
					<div class="fieldcontain">
						<label for="itensporpagina" th:text="#{alturaimg}"></label>
						<input th:type="text" th:name="alturaimg"/> 
					</div>
					
					<div class="fieldcontain">
						<label for="itensporpagina" th:text="#{larguraimg}"></label>
						<input th:type="text" th:name="larguraimg" />
					</div>
					<div class="fieldcontain">
						<button class="btn btn-lg btn-primary btn-block submit" th:type="submit"><text for="enviar" th:text="#{salvar}"></text></button>
					</div>
					
			</fieldset>	
			
		</form>
	
	</div>	
	
	<div layout:fragment="scripts"></div>
	
</body>
</html>