<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/main">
<head>
<div layout:fragment="styles"></div>
<title th:text="#{editarconfiguracao}"></title>
</head>
<body>
	
	<div layout:fragment="content">
	
		<form action="#" th:action="@{/configuracao/configuracao}" th:object="${configuracao}" method="post">
					
		<input th:type="hidden" th:name="id" th:field="*{id}"/>
		
			<fieldset class="form">
			
					<legend><text for="editarconfiguracao" th:text="#{editarconfiguracao}"></text></legend>
					
					<a th:href="@{/configuracao/delete/{id}(id= ${configuracao.id})}" th:class="delete"  th:title="#{delete}" th:onclick="'return confirm(\''+#{confirmaexclusao}+'\');'"><img th:src="@{/images/delete.png}"/></a>
				
					<div class="fieldcontain">
						<label for="itensporpagina" th:text="#{itensporpagina}"></label>
						<input th:type="text" th:name="itensporpagina" th:field="*{itensporpagina}" th:autofocus="true" /> 
						<span class="field-validator" th:if="${#fields.hasErrors('itensporpagina')}" th:errors="*{itensporpagina}"></span>
					</div>
					
					<div class="fieldcontain">
						<label for="alturaimgthumbsreceita" th:text="#{alturaimgthumbs}"></label>
						<input th:type="text" th:name="alturaimgthumbs" th:field="*{alturaimgthumbs}"/> 
						<span class="field-validator" th:if="${#fields.hasErrors('alturaimgthumbs')}" th:errors="*{alturaimgthumbs}"></span>
					</div>
					
					<div class="fieldcontain">
						<label for="itensporpagina" th:text="#{larguraimgthumbs}"></label>
						<input th:type="text" th:name="larguraimgthumbs" th:field="*{larguraimgthumbs}"/> 
						<span class="field-validator" th:if="${#fields.hasErrors('larguraimgthumbs')}" th:errors="*{larguraimgthumbs}"></span>
					</div>
					
					<div class="fieldcontain">
						<label for="itensporpagina" th:text="#{alturaimg}"></label>
						<input th:type="text" th:name="alturaimg" th:field="*{alturaimg}"/> 
						<span class="field-validator" th:if="${#fields.hasErrors('alturaimg')}" th:errors="*{alturaimg}"></span>
					</div>
					
					<div class="fieldcontain">
						<label for="itensporpagina" th:text="#{larguraimg}"></label>
						<input th:type="text" th:name="larguraimg" th:field="*{larguraimg}" th:autofocus="true" /> 
						<span class="field-validator" th:if="${#fields.hasErrors('larguraimg')}" th:errors="*{larguraimg}"></span>
					</div>
					
					<div class="fieldcontain">
						<button class="btn btn-lg btn-primary btn-block submit" th:type="submit"><text for="enviar" th:text="#{salvar}"></text></button>
					</div>
					
						
			</fieldset>	
					
		</form>
	
	</div>	
	
	<div layout:fragment="scripts"></div>
	
</body>
</html>