<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/main">
<head>
<div layout:fragment="styles"></div>
<title th:text="#{criarreceita}"></title>
</head>
<body>
	
	<div layout:fragment="content">
	
		<text th:if="${message}">
			<div th:text="${message}" class="message" role="status"></div>
		</text>

		<form action="#" th:action="@{/receita}" th:object="${receita}" method="post" enctype="multipart/form-data">
		
			<fieldset class="form">
			
					<legend><text for="criarreceita" th:text="#{criarreceita}"></text></legend>
					
					<div class="fieldcontain">
						<label class="left" for="tiporeceita" th:text="#{tiporeceita}"></label><div class="clearer"></div>
						<span class="required-indicator">*</span>
						<select th:name="tiporeceita" th:required="true">
						  <option value="" th:text="#{selecionar}"></option>
						  <option th:each="tiporeceita : ${tiporeceita}" 
						          th:value="${tiporeceita.id}" 
						          th:text="${tiporeceita.descricao}"></option>
						</select>
					</div>
					
					<div class="fieldcontain">
						<label class="left" for="descricao" th:text="#{descricao}"></label><div class="clearer"></div>
						<span class="required-indicator">*</span>
						<input class="upper" th:type="text" th:name="descricao" th:size="35" th:required="true"/> 
					</div>
					
					<div class="fieldcontain">
						<label class="left" for="tempopreparo" th:text="#{tempopreparo}"></label><div class="clearer"></div>
						<input th:type="text" th:name="tempopreparo" th:size="25"/> 
					</div>
					
					<div class="fieldcontain">
						<label class="left" for="rendimento" th:text="#{rendimento}"></label><div class="clearer"></div>
						<input th:type="text" th:name="rendimento" th:size="25"/> 
					</div>
					
					<div class="fieldcontain">
						<label class="left" for="ingredientes" th:text="#{ingredientes}"></label><div class="clearer"></div>
						<textarea name="ingredientes" style="width:70%"></textarea>
					</div>
					
					<div class="fieldcontain">
						<label class="left" for="modopreparo" th:text="#{modopreparo}"></label><div class="clearer"></div>
						<textarea name="modopreparo" style="width:70%"></textarea>
					</div>
					
					<div class="fieldcontain">
						<label class="left" for="imagem" th:text="#{imagem}"></label><div class="clearer"></div>
						<input th:type="file" th:name="arquivo" th:placeholder="#{imagem}"/>
					</div>
					
					<div class="fieldcontain">
						<button class="btn btn-lg btn-primary btn-block submit" th:type="submit"><text for="enviar" th:text="#{salvar}"></text></button>
					</div>
					
			</fieldset>	
			
		</form>
	
	</div>	
	
	<div layout:fragment="scripts">
		<script th:src="@{/libs/tinymce/tinymce.min.js}">...</script>
		<script th:src="@{/libs/textarea.js}">...</script>
	</div>
	
</body>
</html>