@media (max-width:500px){
	
	body{
		font-size:0.8em;
	}
	
	fieldset {
		min-width:100%;
	}
	
	fieldset.view {
		max-width:100%;
	}
	
	.fieldcontain label, .fieldcontain .property-label {
    	/*max-width:50%;*/ 
    }
	
	form{
		min-width:100%;
	}
	
	input{
		font-size:0.8em;
	}
	
	.buscarsubmit{
		font-size: 0.95em;
		height: 2.15em;
		padding: 0.3em 0.8em;
	}
	
	.listing li img.photo{
		height:60px ;
		width:90px;
	}
	
	table {
    	min-width: 100%;
	}
	
	.imagemlogo img {
       height: 100%;
	   width: 100%;
	   left:0.4em;
    }	
}