@media (max-width:500px){
	
	body{
		font-size:0.8em;
	}
	
	fieldset {
		min-width:100%;
	}
	
	fieldset.view {
		max-width:100%;
	}
	
	.fieldcontain label, .fieldcontain .property-label {
    	max-width:25%; 
    }
	
	form{
		min-width:100%;
	}
	
	input{
		font-size:0.8em;
	}
	
	table {
    	min-width: 100%;
	}
}