<nav th:fragment="navbarcontent">
	<div class="navbar">
			 <div class="navbar-inner">
			 
			   <ul>
			   
			   		<div sec:authorize="isAuthenticated()">
			   		
			   			
			   			<li><a href="/" class="home"><text for="home" th:text="#{home}"></text></a></li>
			   		 	<li><a th:href="@{/showusuario/{id}(id=${#authentication.principal.usuario.id})}" class="usuario"><text for="usuario" th:text="#{usuario}"></text></a></li>
			 			<li><a href="/verconfiguracao" class="configuracao"><text for="configuracao" th:text="#{configuracao}"></text></a></li>
			 			
			   		 	<div sec:authorize="hasAuthority('ADMIN')">
			   		 		<li><a href="/vertiporeceitas" class="tiporeceitas"><text for="tiporeceitas" th:text="#{tiporeceitas}"></text></a></li>
			   		 		<li><a href="/verregras" class="regra"><text for="regra" th:text="#{regra}"></text></a></li>
			   		 		<li><a href="/verusuarioregras" class="usuarioregra"><text for="usuarioregra" th:text="#{usuarioregra}"></text></a></li>	
			   		 		<li><a href="/verusuarios" class="cadastrousuario"><text for="usuario" th:text="#{usuarios}"></text></a></li>			   		 	
			   		 	</div>
			   		 	
			   		 	<li><a onclick="document.forms['logout'].submit()" href="/logout" class="logout"><text for="logout" th:text="#{logout}"></text></a></li>
			 			<form id="logout" th:action="@{/logout}" class="form-signin" method="post">
			 				<button class="invisivel" th:type="submit"></button>
			 			</form>
			 					 			
				 	</div>
				 	
				 	<div sec:authorize="isAnonymous()">
				 		<li><a href="/" class="home"><text for="home" th:text="#{home}"></text></a></li>
				 		<li><a href="/usuario" class="cadastrousuario"><text for="criarusuario" th:text="#{criarusuario}"></text></a></li>
				 		<li><a href="/login" class="login"><text for="login" th:text="#{login}"></text></a></li>
				 	</div>
				 	
				 	<div class="internacionalizacao">
							<li><a href="/?lang=pt_BR"><img th:src="@{/images/pt_BR.png}"/></a></li>
							<li><a href="/?lang=en"><img th:src="@{/images/en.png}"/></a></li>
							<li><a href="/?lang=es"><img th:src="@{/images/es.png}"/></a></li>
					</div>
				
				</ul>
				
			</div>		
			<div class="autenticado">
					<div sec:authorize="isAuthenticated()" class="userlogado">
						<text sec:authentication="principal.nome"></text> - <text sec:authentication="principal.authorities"></text>		
					</div>
			</div>	
			
	
	</div>
	
</nav>
