@media (max-width:500px){
	
	fieldset {
		min-width:100%;
	}
	
	fieldset.view {
		max-width:100%;
	}
	
	.fieldcontain label, .fieldcontain .property-label {
    	max-width:25%; 
    	font-size:11px;
	}
	
	form{
		min-width:100%;
	}
	
	input {
    	font-size:11px;
	}
	
	table {
    	min-width: 100%;
	}
	
	table th, td {
	   font-size: 0.7em;
	}
	
}