<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/main">
<head>
<div layout:fragment="styles"></div>
<title th:text="#{login}"></title>
</head>
<body>
	
	<div layout:fragment="content">
	
			<text th:if="${message}">
					<div th:text="${message}" class="message" role="status"></div>
			</text>
			
		    <div class="errors" th:if="${param.error}">
			 	 	<span th:text="#{loginerror}"></span>
		       </div>
		       
		      	<form th:action="@{/esqueceusenha}" method="POST">  
		
				<fieldset class="form">
				
						<legend><text for="esqueceusenha" th:text="#{esqueceusenha}"></text></legend>
						
						<div class="fieldcontain">
							<label for="email" th:text="#{email}"></label>
							<span class="required-indicator">*</span>
							<input th:class="lower" th:type="text" th:name="email" th:size="30" th:maxlength="50" th:placeholder="#{email}" th:required="true" th:autofocus="true" /> 
						</div>
						
						<div class="fieldcontain">
							<button class="btn btn-lg btn-primary btn-block submit" th:type="submit"><text for="enviar" th:text="#{enviar}"></text></button>
						</div>
						
				</fieldset>
				
			</form>			
	
	</div>	
	
	<div layout:fragment="scripts"></div>
	
</body>
</html>