<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/main">
<head>
<div layout:fragment="styles"></div>
<title th:text="#{usuarios}"></title>
</head>
<body>
	
	<div layout:fragment="content">
	
		<text th:if="${message}">
			<div th:text="${message}" class="message" role="status"></div>
		</text>
		
		<table>
			<thead>
					<tr>
						<th class="model"><text for="usuario" th:text="#{usuario}"></text></th>
					</tr>
					<tr>
						<th colspan="6">
							<a class="adicionar margintableleft" th:title="#{adicionarregistro}" th:href="@{/usuario}"><img th:src="@{/images/add.png}"/></a>
						</th>
					</tr>
					<tr>
						<th><text for="editar" th:text="#{editar}"></text></th>
						<th><text for="username" th:text="#{username}"></text></th>
						<th><text for="primeironome" th:text="#{primeironome}"></text></th>
						<th><text for="sobrenome" th:text="#{sobrenome}"></text></th>
						<th><text for="email" th:text="#{email}"></text></th>
						<th><text for="ativo" th:text="#{ativo}"></text></th>
						
					</tr>
				</thead>
				<tbody>
				
					<tr th:each="usuario : ${pageimpl}">
						<td class="centro"><a th:title="#{editar}" th:href="@{/showusuario/{id}(id= ${usuario.id})}"><img th:src="@{/images/edit.png}"/></a></td>
						<td><text for="home" th:text="${usuario.username}"></text></td>
						<td class="centro"><text for="home" th:text="${usuario.primeironome}"></text></td>
						<td class="centro"><text for="home" th:text="${usuario.sobrenome}"></text></td>
						<td class="centro"><text for="home" th:text="${usuario.email}"></text></td>
						<td class="centro"><text for="home" th:text="${usuario.ativo}? #{sim} : #{nao}"></text></td>
					</tr>
					
					<tr>
						<td colspan="6"><a class="criar" th:href="@{/usuario}"><text for="criarusuario" th:text="#{criarusuario}"></text></a></td>
					</tr>
											
				</tbody>
		</table>
	
	</div>	
	
	<div layout:fragment="scripts"></div>
	
</body>
</html>