<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/main">
<head>
<div layout:fragment="styles"></div>
<title th:text="#{editarusuarioregra}"></title>
</head>
<body>
	
	<div layout:fragment="content">
	
			<form action="#" th:action="@{/usuarioregra/usuarioregra}" th:object="${usuarioregra}" method="post">
							
			<input th:type="hidden" th:name="id" th:field="*{id}"/>
			
				<fieldset class="form">
			
					<legend><text for="editarusuarioregra" th:text="#{editarusuarioregra}"></text></legend>
					
					<a th:href="@{/usuarioregra/delete/{id}(id= ${usuarioregra.id})}" th:class="delete"  th:title="#{delete}" th:onclick="'return confirm(\''+#{confirmaexclusao}+'\');'"><img th:src="@{/images/delete.png}"/></a>
				
					<div class="fieldcontain">
						<label for="usuario" th:text="#{usuario}"></label>
						<span class="required-indicator">*</span>
						<select th:field="*{usuario}">
						  <option th:each="usuario : ${usuarios}" 
						          th:value="${usuario.id}" 
						          th:text="${usuario.username + ' - ' + usuario.email}"></option>
						</select>
						<span class="field-validator" th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></span>
					</div>
					
					<div class="fieldcontain">
						<label for="regra" th:text="#{regra}"></label>
						<span class="required-indicator">*</span>
						<select th:field="*{regra}">
						  <option th:each="regra : ${regras}" 
						          th:value="${regra.id}" 
						          th:text="${regra.descricao}"></option>
						</select>
						<span class="field-validator" th:if="${#fields.hasErrors('regra')}" th:errors="*{regra}"></span>
					</div>
					
					<div class="fieldcontain">
						<button class="btn btn-lg btn-primary btn-block submit" th:type="submit"><text for="enviar" th:text="#{salvar}"></text></button>
					</div>
					
						
				</fieldset>	
			
			</form>	
	</div>	
	
	<div layout:fragment="scripts"></div>
	
</body>
</html>